extends layout

block content
  section#intro
    .container
      .row
        .seven.columns
          h2.title Login to Safai
  
  section#main.grey
    .container
      .twelve.columns
        .card.mono.form
          if error
            p.error= error
          form.mono(action='/login', method='post')
              label(for='email') Email:
              input#email(type='email', name='email', placeholder='Email Address', required)
              label(for='password') Password:
              input#password(type='password', name='password', placeholder='Password', required)
              input(type='submit', value='Login')
